.box {
    background: white;
    height: 350px;
    width: 280px;
    border-radius: 13px;
    margin: 0 auto 0 auto;
    margin-top: 100px;
    padding: 10px 0px 0px 0px;
}

body {
    font-family: 'Lucida Sans', sans-serif;
    background: #D0D3D4;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    color: #164f75;
}

.name,
.surname,
.email,
.password,
.username {
    background-color: #D0D3D4;
    border: #D0D3D4 1px solid;
    border-bottom: #164f75 2px solid;
    padding: 7px;
    margin-top: 15px;
    font-size: 1em;
    border-radius: 5px;
}

.btn {
    font-weight: 800;
    font-size: 0.8em;
    font-family: 'Lucida Sans', sans-serif;
    color: #D0D3D4;

    width: 125px;
    background: #164f75;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: #164f75 1px solid;
    border-radius: 5px;
}